pip
Flask
psycopg2
wtforms 
python-dotenv
gevent
twilio
apscheduler
matplotlib
babel
flask_babel
flask_wtf
reportlab
pypdf2
google
google-auth
google-auth-oauthlib
google-api-python-client
pdfminer.six
importlib-metadata
plotly
matplotlib
werkzeug
flask_sqlalchemy