<nav class="navbar navbar-default">
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if session.logged_in %}
            <li><a href="/pendentes">Tickets</a></li>
            <li><a href="/testes">Testes-SMS</a></li>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Depertamento de Admin & Fin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Requisições</li>
                <li><a href="/requisicoes">Requisições</a></li>
                <li><a href="/addrequest">Nova Requisiçao</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Facturas</li>
                <li><a href="/invoices">Facturas Pendentes</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Caixa</li>
                <li><a href="/saldo">Controle de caixa</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Depertamento de Vendas<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Clientes</li>
                <li><a href="/cliente">Automação</a></li>
                <li><a href="/cliente_ong">ONGs</a></li>
                <li><a href="/cadastro">Cadastrar</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Propostas</li>
                <li><a href="/addproposal">Solicitar proposta</a></li>
                <li><a href="/propostas">Propostas</a></li>
              </ul>
            </li>

            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login as {{session.username}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Minhas actividades</li>
                <li><a href="/tasks">Actividades</a></li>
                <li><a href="/db">Meu Dashboard</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Dados Pessoais</li>
                <li class="disabled"><a href="#">Meus dados</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>

            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/addcrentes">Cadastro Divina Esperança</a></li>
            {% endif %}
            
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
