<link href="/static/css/insghtscss.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
  <a href="#" class="navbar-brand pb-3"><img src="/static/cod_OV/Logo-Insigths-2.png" height="30" width="auto" alt=""></a>
  <div class="container-fluid ml-5 ">
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              {% if session.logged_in %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Automação <span class="caret-down"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      <li class="dropdown-header">Relatórios</li>
                      <li><a class="dropdown-item" href="/Relatorio_obra">Relatório de Obra</a></li>
                      <li><a class="dropdown-item" href="/Relatorio_camera">Relatório de Câmeras</a></li>
                      <li><a class="dropdown-item" href="/pdf_obra">Gerir Relatórios</a></li>
                      <li><a class="dropdown-item" href="/Gerir_clientes">Gerir Clientes</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Testes <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li class="dropdown-header">Texto</li>
                    <li><a class="dropdown-item" href="/testes">SMS</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Voz</li>
                    <li><a class="dropdown-item" href="/ivr_test">IVR</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/audios">Audios</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Dashboard</li>
                    <li><a class="dropdown-item" href="/dashboard_demo">Demo</a></li>
                    <li class="dropdown-header">Vídeo</li>
                    <li><a class="dropdown-item" href="/videos">Vídeos</a></li>
                </ul>
            </li>
           <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RH <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <li class="dropdown-header">Candidaturas</li>
                    <li><a class="dropdown-item" href="/respostas">Ver Respostas</a></li>
                    <li><a class="dropdown-item" href="/candidaturas">Testar Formulário</a></li>
                </ul>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campanhas <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <li class="dropdown-header">Campanhas</li>
                    <li><a class="dropdown-item" href="/campanhas">Ativas</a></li>
                    <li><a class="dropdown-item"  href="/create_camp" onclick="return confirm('Você está prestes a criar uma campanha, clique ok para comfirmar')">Criar</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Mensagem de voz</li>
                    <li><a class="dropdown-item" href="/campanhas">Ativas</a></li>
                    <li><a class="dropdown-item" href="/audios">Criar</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Survey</li>
                    <li><a class="dropdown-item" href="/surveys">Ativas</a></li>
                    <li><a class="dropdown-item" href="/assign_camp/org_id">Criar</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Formação Remota</li>
                    <li><a class="dropdown-item" href="/cliente">Ativas</a></li>
                    <li><a class="dropdown-item" href="/cliente">Criar</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Histórico de chamadas</li>
                    <li><a class="dropdown-item" href="/campaign_status">Ver</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRM <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <li class="dropdown-header">Clientes</li>
                    <li><a class="dropdown-item" href="/cliente">Automação</a></li>
                    <li><a class="dropdown-item" href="/cliente_ong">ONGs</a></li>
                    <li><a class="dropdown-item" href="/cliente_srv">SRV</a></li>
                    <li><a class="dropdown-item" href="/contacts_by_collaborator">LeadsSRV</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/cadastro">Cadastrar</a></li>
                    <li><a class="dropdown-item" href="/cadastro_clientes">Cadastrar SRV</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Propostas</li>
                    <li><a class="dropdown-item" href="/addproposal">Solicitar Proposta</a></li>
                    <li><a class="dropdown-item" href="/propostas">Propostas</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contactos <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
                    <li class="dropdown-header">Contactos</li>
                    <li><a class="dropdown-item" href="/cliente">Visualizar</a></li>
                    <li><a class="dropdown-item" href="/add_contact">Criar Contacto</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header">Grupos</li>
                    <li><a class="dropdown-item" href="/cliente">Visualizar</a></li>
                    <li><a class="dropdown-item" href="/grupos">Criar Grupo</a></li>
                </ul>
            </li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orientação Vocal <span class="caret-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown7">
                    <li><a class="dropdown-item" href="/testes_OV">Testes</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('resultado', usuario_id=1 ) }}">Resultados</a></li>
                </ul>
            </li>-->
            
           
        </ul>
        <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Saldo: {{ session.saldo }}</a>
                </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login como <strong>{{session.username}}</strong> na Org: <strong>{% if session.org_id %}{{ session.org_id }}{% else %}{{session.last_org}}{% endif %}</strong> <span class="caret-down"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                    <a class="dropdown-item" href="/tasks">Minhas Atividades</a>
                    <a class="dropdown-item" href="/db">Meu Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Meus Dados</a>
                    {% if session.username == 'Shelton' or session.username == 'Temoteo' %} <a class="dropdown-item " href="/tarefas_diarias">Tarefas_Dashboard{% endif %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="carregarDados('session.org_id')">Mudar de Org.</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/tickets">Tickets</a>
                    <a class="dropdown-item" href="/adicionar_lingua">Org information</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
        
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addcrentes">Cadastro Divina Esperança</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal" id="ModalOrg" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Dados Carregados</h5>
        <button type="button" class="close"  onclick="return $('#ModalOrg').modal('hide');" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Tabela para apresentar os dados -->
        <table class="table">
          <thead>
            <tr>
              <th>ORG_ID</th>
              <th>Nome</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody id="modalTableBody">
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>


<script src="/static/js/modal.js"> </script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
