{% extends 'layout.html' %}

{% block body %}

  <h1 class="mb-4"><i class="fas fa-cloud-upload-alt"></i> Upload Audio</h1>
  <form method="POST" action="/add_audio/{{id}}" enctype="multipart/form-data">
    <div class="form-group">
     <label for="Idioma"><i class="fa fa-language" aria-hidden="true"></i> Idiomas</label>
     <select name="Idioma" id="idioma">
      {% for option in options %}
              <option value="{{option[1]}}">{{option[1]}}</option>
            {% endfor %}
     </select>
    </div>
      <div class="from-group col-md-4">
          <label for="audio" class="form-input-text"></label>
          <input type="file" name="audio" id="audio" class="form-control">
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-success mx-2"><i class="fas fa-paper-plane mx-2"></i>Send file</button>
      </div>
  </form>
{% endblock %}

