{% extends 'layout.html' %}

{% block body %}
  <h1>Adicionar Factura</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.numero, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.cliente, class_="form-control")}}
      </div>
    <div class="form-group">
      {{render_field(form.descricao, class_="form-control")}}
    </div>
    <div class="form-group">
      <label for="valor">
        {{render_field(form.valor, class_="form-control")}}
      </label>
    </div>
     <div class="form-group">
      <label for="estado">      
        {{render_field(form.mes, class_="form-control")}}
      </label>        
    </div>
    <div class="form-group">
      <label for="estado">      
        {{render_field(form.estado, class_="form-control")}}
      </label>        
    </div>
    <div class="form-group">
      <p><input type="submit" class="btn btn-success" value="Submeter Factura"></p>
    </div>
  </form> 

{% endblock %} 
