{% extends 'layout.html' %}

{% block body %}
  <h1>Solicitar Proposta</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.cliente, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.pasta, class_="form-control", id="editor")}}
    </div>
    <div class="form-group">
      {{render_field(form.contexto, class_="form-control", id="editor")}}
    </div>
    <div class="form-group">
      <p><input type="submit" class="btn btn-success" value="Submeter"></p>
    </div>
  </form> 

{% endblock %} 