{% extends 'layout.html' %}

{% block body %}
  <h1>Assign Ticket</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.site, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.ticket, class_="form-control", id="editor") }}
    </div>
    <div class="form-group">
        {{ render_field(form.responsavel, class_="form-control", id="editor") }}
      </div>
    <p><input class="btn btn-success" type="submit" value="Gravar">
  </form>
{% endblock %}