{% extends 'layout.html'%}


{% block body%}
  <h1>ONGs</h1>
  <!--<div class=" d-flex justify-content-end">
    <input type="search" name="search" id="nameInput" class="form-control col-md-4 rounded-5" placeholder="Search..." >
  </div>-->
  <hr>
  
  <table id="nameTable" class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact1</th>
      <th>Contact2</th>
      <th>City</th>
      <th>Sale Phase</th>
      <th>Actions</th>
   
      
      
      
    </tr>
    {% for cliente in dados %}
      <tr>
        <td>{{cliente[4]}}</td> 
        <td>{{cliente[0]}}</td> 
        <td>{{cliente[1]}}</td>
        <td>{{cliente[2]}}</td>
        <td>{{cliente[3]}}</td>
        <td>{{cliente[6]}}</td>
        <td>{{cliente[8]}}</td>
        <td>
          <a href="#" class="btn btn-primary" title="Show" style="margin-right: 5px;"><i class="fa fa-eye"></i></button>
          <a href="add_call/{{cliente[4]}}" class="btn btn-success" title="Call" style="margin-right: 5px;"><i class="fa fa-phone"></i></button>
          
        </td>
       
        
      </tr>
    {% endfor %}
  </table>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const nameInput = document.getElementById('nameInput');
      const tableBody = document.querySelector('#nameTable tbody');
      const rows = Array.from(tableBody.querySelectorAll('tr'));
  
      nameInput.addEventListener('input', () => {
          const searchValue = nameInput.value.toUpperCase();
  
          rows.forEach(row => {
              const name = row.children[1].textContent.toUpperCase();
              if (name.startsWith(searchValue)) {
                  row.style.display = '';
              } else {
                  row.style.display = 'none';
              }
          });
      });
  });
  </script>

{% endblock %}
