{% extends 'layout.html'%}


{% block body%}
<div class="container my-5">

  <h1>{{campanha}} - {{campanha_ref}}</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      
      <th>Pergunta</th>
      <th>Conteudo</th>
      
      <th></th>
      <th></th>

    </tr>
    {% for column in columns_list %}
      <tr>
        <td>{{ column[0] }}</td>
        <td>{{ column[1] }}</td>

        <td><a href="/perguntas/{{campanha}}_{{column[0]}}" class="btn btn-default pull-right">Opcoes de Resposta</a></td>
        
        <td><a href="/assign_question/{{campanha}}_{{column[0]}}" class="btn btn-default pull-right">Editar Pergunta</a></td>
        
      </tr>
    {% endfor %}
    
  </table>
  <a class="btn btn-success" href="/create_col/{{campanha}}">Adicionar Pergunta</a>
  <a class="btn btn-success" href="/campanhas">Voltar a campanhas</a>
  <a class="btn btn-success" href="/campanhas">Testar</a>
  
  
  

{% endblock %}
