{% extends 'layout.html'%}


{% block body%}
<div class="container my-5">

  <h1>{% if tipo == 'formacao' %} Detalhes da Aula  {% else %} {{tipo}} {% endif %}</h1>
  <hr>
  <table class="table table-striped" id="dataTable">
    <tr>
      <th>Nr</th>
      <th>Titulo</th>
    
    
      <th></th>

    </tr>
    {% for column in campanha %}
      <tr>
        <td>Aula-{{ column[0] }}</td>
        <td>{{ column[1] }}</td>
        
        <td>
          <a href="/audios/{{column[0]}}/{{tipo}}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="ver audios"><i class="fas fa-microphone "></i></a>
          <a href="/campanha_n/{{column[0]}}/{{tipo}}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="ver questoes"><i class="fa fa-list-ul" ></i></a>
          <a class="btn btn-default" href="/ativar_campanha/{{id}}" data-toggle="tooltip" data-placement="top" title="ativar"><i class="fa fa-play" aria-hidden="true"></i></a>
          <a href="/edit_campaign/{{column[0]}}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="editar {{tipo}}"><i class="fa fa-edit" aria-hidden="true"></i></a>
        </td>
              
      </tr>
    {% endfor %}
    
  </table>
</table>
{% if tipo == 'formacao' %}
<a class="btn btn-success btn-sm" href="/criar_campanhas/formacao/{{id}}">Adicionar Aula</a>
 {% endif %}

  
  <div class="modal " id="ModalAudio" tabindex="-1"  aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" class="modal-title" id="ModalLabel">Audio</h4>
                <button type="button" class="close"  onclick="return $('#ModalAudio').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
          </div>
        
        <div class="modal-body" id="modbody">
       
        </div>
      </div>
    </div>
</div>
  

{% endblock %}
