{% extends 'layout.html'%}


{% block body%}
<div class="container my-5">

  <h1>Campanhas</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Campanha</th>
      <th>Projecto</th>
      
    
      <th></th>
      <th></th>
      <th></th>

    </tr>
    {% for pendente in campanhas %}
      <tr>
        <td>{{pendente[0]}}</td>
        <td>{{pendente[3]}}</td>
        <td>{{pendente[2]}}</td>
       

        <td><a href="campanha_n/{{pendente[3]}}" class="btn btn-default pull-right">Perguntas</a></td>
        <td><a href="assign_ticket/{{pendente[0]}}" class="btn btn-default pull-right">Assign</a></td>
        <td>
          <form action="{{url_for('del_tiket', id=pendente[0])}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a class="btn btn-success" href="/create_camp">Add Camp</a>
  
  
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
