{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_formhelpers.html" import render_field %}

  <style>
    
    
    .content {
        padding: 2em;
        max-width: 800px;
        margin: auto;
    }
    
    fieldset {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 2em;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1.5em;
    }

    legend {
        font-size: 1.5em;
        font-weight: bold;
        color: #343a40;
        padding: 0 10px;
    }
    
    label {
        display: block;
        margin-bottom: 0.5em;
        color: #495057;
        font-weight: 500;
    }

    
    button {
        background-color: #007bff;
        color: #fff;
        padding: 0.5em 2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    
  </style>

  <div class="content">
    <form action="/criar_campanhas/{{campanha}}/{{id}}" method="post" enctype="multipart/form-data">
      <input type="hidden" id="id" name="campanha" value="{{id}}">

      <fieldset>
        <legend>{% if campanha == 'formacao' %}{% set campanha = 'Aula' %}Aula {% else %}{{campanha}}{% endif %}</legend>
        
        <label for="name">Tema:</label>
        {% if tema %}
        <input type="hidden" name="name" id="name" value="{{tema}}">
        <input type="text"  class="input-custom" placeholder="Insira o tema para a/o {{campanha}}" value="{{tema}}" disabled>
        {% else %}
        <input type="text" id="name" name="name" class="input-custom" placeholder="Insira o tema para a/o {{campanha}}" required>
        {% endif %}

        
        <label for="type" class="mt-4">Idioma:</label>
        <select id="type" name="idioma" class="input-custom">
          {% for option in options %}
            <option value="{{option[1]}}">{{option[1]}}</option>
          {% endfor %}
        </select>
      </fieldset>

      <fieldset>
        <legend>Descricão da/o {{campanha}}</legend>
        
        <label for="question_audio" class="mt-4">Descricão Introdução:</label>
        <div class="input-group mb-3">
          <input type="text" id="introducao" name="introducao" placeholder="" class="input-custom" name="intro_audio">
          <div class="file-upload">
            <label for="file-upload1" class="custom-file-upload">
              <i class="fas fa-cloud-upload-alt"></i> Upload
            </label>
            <input id="file-upload1" type="file" name="intro" accept="audio/mpeg" class="file-upload-input"/>
          </div>
        </div>
        <div class="audio-preview-container" id="audio-insert1">
          <h5>Prévia do Áudio</h5>
          <audio id="audio-preview1" controls></audio>
        </div>

        {% if campanha != 'inquerito' %}
          {% if campanha == 'Aula' %}
            <label for="audio">URL do Áudio da Aula:</label>
          {% else %}
            <label for="audio">Áudio da Campanha:</label>
          {% endif %}
          
          <div class="input-group mb-3">
            <input type="text" id="audio" class="input-custom" name="aula_base">
            <div class="file-upload">
              <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i> Upload
              </label>
              <input id="file-upload" onchange="audioPreviw()" type="file" name="audio" accept="audio/*" class="file-upload-input"/>
            </div>
          </div>
          <div class="audio-preview-container" id="audio-insert">
            <h5>Prévia do Áudio</h5>
            <audio id="audio-preview" controls></audio>
          </div>
        {% endif %}
        
        <label for="question_audio">Descricão da Conclusão:</label>
        <div class="input-group mb-3">
          <input type="text" id="con_audio" name="conclusao" class="input-custom">
          <div class="file-upload">
            <label for="file-upload2" class="custom-file-upload">
              <i class="fas fa-cloud-upload-alt"></i> Upload
            </label>
            <input id="file-upload2" type="file" name="con" accept="audio/*" class="file-upload-input px-2"/>
          </div>
        </div>
        <div class="audio-preview-container" id="audio-insert2">
          <h5>Prévia do Áudio</h5>
          <audio id="audio-preview2" controls></audio>
        </div>
      </fieldset>

      <button type="submit" class="custom-button mt-2">Criar {{campanha}}</button>
    </form>
  </div>

  <script>
    document.getElementById('file-upload1').addEventListener('change', function(event) {
      var audioPreview = document.getElementById('audio-preview1');
      var audioInsert = document.getElementById('audio-insert1');
      var file = event.target.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          audioPreview.src = e.target.result;
          audioInsert.style.display = 'block';
        };
        reader.readAsDataURL(file);
      }
    });

    function audioPreviw() {
      var audioPreview = document.getElementById('audio-preview');
      var audioInsert = document.getElementById('audio-insert');
      var file = event.target.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          audioPreview.src = e.target.result;
          audioInsert.style.display = 'block';
        };
        reader.readAsDataURL(file);
      }
    }

    document.getElementById('file-upload2').addEventListener('change', function(event) {
      var audioPreview = document.getElementById('audio-preview2');
      var audioInsert = document.getElementById('audio-insert2');
      var file = event.target.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          audioPreview.src = e.target.result;
          audioInsert.style.display = 'block';
        };
        reader.readAsDataURL(file);
      }
    });
  </script>
{% endblock %}
