{% extends 'layout.html'%}


{% block body%}


<div class="container">
    
    <div class="col-sm-12">
      <div class="well">
        <h4>Ola {{session.username}}</h4>
        <p>Uma das principais vantagens de ser vendedor é o potencial de ganhos ilimitado. Vamos fazer dinheiro?</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Leads Gerados</h4>
            <p>1 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Ligações/Contatos</h4>
            <p>100 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Reuniões Marcadas</h4>
            <p>10 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Comissões Acumuladas</h4>
            <p>0.0 MZN</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p><strong>Comunicação</strong></p>
            <p> Excelentes habilidades de comunicação verbal e escrita são essenciais para um agente de vendas. Eles devem ser capazes de articular claramente e persuasivamente as características, benefícios e propostas de valor do produto ou serviço.</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p><strong>Follow-Up</strong></p> 
            <p>Um acompanhamento diligente com leads e clientes demonstra compromisso e garante que oportunidades potenciais não sejam perdidas</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p><strong>Conhecimento do Produto</strong></p> 
            <p>Um bom agente de vendas tem um conhecimento profundo dos produtos ou serviços que estão a vender. Eles podem responder a perguntas, abordar as preocupações dos clientes e destacar os principais benefícios de forma eficaz.</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>"O sucesso é a soma de pequenos esforços repetidos dia após dia." - Robert Collier</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Time is money</p> 
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}