<!-- templates/dashboard_demo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Demonstração do Painel de Controle de Campanha IVR</title>
    <!-- Incluir Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Demonstração do Painel de Controle de Campanha IVR</h1>

    <!-- Gráfico de Conclusão por Género -->
    <h2>Taxas de Conclusão por Género</h2>
    <div id="grafico-genero"></div>

    <!-- Gráfico de Conclusão por Província -->
    
    <div id="grafico-provincia"></div>

    <!-- Taxa de Conclusão Geral -->
    
    <div id="grafico-geral"></div>

    <!-- Porcentagem de Conclusão por Faixa Etária -->
    
    <div id="grafico-faixa-etaria"></div>

    <script>
        // Código JavaScript para renderizar os gráficos usando o Plotly.js
        
        
        {{ grafico_genero|safe }}

        <h2>Taxas de Conclusão por Província</h2>
        {{ grafico_provincia|safe }}
        
        <h2>Taxa de Conclusão Geral da Campanha</h2>
        {{ grafico_geral|safe }}

        <h2>Porcentagem de Conclusão por Faixa Etária</h2>
        {{ grafico_faixa_etaria|safe }}
        
    </script>
</body>
</html>
