{% extends 'layout.html' %}

{% block body %}
{% if contact  %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center">Detalhes do Contacto</h1>
                <div class="card">
                    <div class="card-header">
                        <h2>ContactID: {{ contact[0] }}</h2>
                    </div>
                    <div class="card-body">
                        {% for key, dados in contact[6].items() %}
                        <p style="text-align: justify;" class="text-uppercase"><strong>{{key}}:</strong> {{ dados }}</p>
                        
                        {% endfor %}
                         </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editarcontact{{ contact[0] }}" data-toggle="tooltip" data-placement="top" title="Editar contact">
                        <i class="fas fa-edit"></i>
                    </button>

                    <!-- Modal para editar ticket -->
                    <div class="modal fade" id="editarcontact{{ contact[0] }}" tabindex="-1" role="dialog" aria-labelledby="editarcontactModalLabel{{ contact[0] }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="editarcontactModalLabel{{ contact[0] }}">Editar Dados de contacto</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{{ url_for('edit_contact', id=contact[0]) }}" enctype="multipart/form-data">
                                      {% for key, dados in contact[6].items() %}
                                        <div class="form-group">
                                            <label for="titulo{{ key }}">{{key}}</label>
                                            <input type="text" class="form-control" id="titulo{{ key }}" name="{{key}}" value="{{ dados }}">
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary">Atualizar contact</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('delete_contact', id=contact[0]) }}" class="text-danger" data-toggle="tooltip" data-placement="top" title="remover" onclick="return confirm('Tem certeza que deseja excluir o contacto {{contact[3]}}?')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                
                </div>
                
            </div>
            <div class="col-md-4">
                <h3>Grupos Relacionados</h3>
                {% if grupo %}
                 <ul class="list-group" id="grupos-list">
                    {% for grupo in grupo %}   
                  <li class="list-group-item" id="lg"> {{ grupo[1] }} <a href="{{ url_for('remove_group', id=contact[0]) }}" class="text-danger" data-toggle="tooltip" data-placement="top" title="remover" onclick="return confirm('Tem certeza que deseja excluir o contacto desse Gropo?')">
                    <i class="fas fa-trash-alt"></i></a>
                </li>
                {% endfor %}
                    <!-- Adicione mais grupos aqui -->
                 </ul>
                 {% endif %}
                 <button class="btn btn-info ml-2 px-1" data-toggle="modal" data-target="#ModalGroup" data-toggle="tooltip" data-placement="top" title="adicionar cliente">
                    <i class="fas fa-plus-square"></i>
                </button>
                <div class="modal" id="ModalGroup" tabindex="-1" role="dialog" aria-labelledby="ModalGrouplabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalGrouplabel">Adicionar Grupo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{{ url_for('add_group', id=contact[0]) }}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="country" class="form-label">Grupo</label>
                                          <select class="form-control" id="country"  name ="group" >
                                            <option value="">selecione...</option>
                                              {% if grupos %}
                                                {% for grupo in grupos %}
                                                 <option value="{{ grupo[0] }}">{{ grupo[1] }}</option>
                                                {% endfor %}
                                            {% endif %}
                                          </select>
                                        </div>
                                    <button type="submit" class="btn btn-primary">Atualizar contact</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        {% endif %}
    </div>

    {% endblock %}