{% extends 'layout.html'%}


{% block body%}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin-top: 50px;
        }
        .error-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            margin: 0 auto;
        }
        h1 {
            color: #c00;
        }
    </style>


    <div class="jumbotron ">
        <h1>Erro ao executar a transação</h1>
        <p class="lead">{{ error }}</p>
        <p>Por favor, tente novamente mais tarde ou entre em contacto com a equipe de suporte.</p>
    </div>

{% endblock %}
