{% extends 'layout.html'%}


{% block body%}
<div class="container">
      <h2>Formulário de Relatório de Obra </h2>
<br>

<form id="reportForm" action="/submit_rel" method="post" >
    <div class="form-group">
        <label for="cliente" class="form-label">Cliente</label>
         <select class="form-control" id="cliente"  name ="cliente" >
          <option >selecione um cliente</option>
          {% if clientes %}
            {% for cliente in clientes %}
                <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    <div class="form-group">
        <label for="relatorio">Relatório:</label>
        <textarea type="text" class="form-control" id="relatorio" row="5" name="relatorio"  required ></textarea>
    <div class="form-group">
        <label for="status" class="form-label">Fase da obra</label>
         <select class="form-control" id="status"  name ="status" >
          <option>Orçamento</option>
          <option>Cabelagem</option>
          <option>Instalação de dispositivos</option>
          <option>Teste</option>
          <option>Entrega</option>
          <option>Manutenção</option>
        </select>
      </div>
    <div class="form-group">
        <label for="tempo">Hora de entrada:</label>
        <input type="time" class="form-control" id="tempo" name="tempo">
    </div>
    <div class="form-group">
        <label for="hora">Hora de saida</label>
        <input type="time" id="hora" name="hora"  class="form-control">
    </div>
  <div class="form-group">
      <label for="dificuldade">Houve alguma dificuldade na obra?</label>
      <textarea type="text" class="form-control" id="dificuldade" row="5" name="dificuldade" placeholder="espaço para expor as dificuldades na obra"  ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar dados</button>
</form>
 <br>
   
</div>
{% endblock %}