{% extends 'layout.html'%}
{% block body%}
    <link rel="stylesheet" href="styles.css">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Lista de Módulos da Formação</h2>

        {% for modulo in modulos %} 
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center"> 
                <h4><span>Módulo {{loop.index}}: {{modulo[2] }}</span></h4>
                <a class="btn btn-success btn-sm" href="/create_campaign/formacao/{{modulo[1]}}">Adicionar Aula</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for aula in formacao %} 
                {% if aula[1] == modulo[1] %} 
                <li class="list-group-item lead"><strong>Aula {{ loop.index }}</strong>: <a href="/campanha_n/{{aula[3]}}/formacao">{{ aula[4] }}</a></li>
                
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        

        <div class="text-center">
            <a class="btn btn-primary"href="/create_module/{{ id }}">Adicionar Módulo</a>
        </div>
    </div>

    <script>
        function addAula(moduloId) {
            alert('Adicionar Aula ao Módulo ' + moduloId);
        }

        function addModulo() {
            alert('Adicionar Novo Módulo');
        }
    </script>
{% endblock %}
