<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Conferência Ebenezer - Registro</title>
    <style>
        .tabl{
            height: 100px;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="d-flex flex-row-reverse">
            <div class="from-row">
             <label for="idioma"><i class="fa fa-globe" ></i></label>
             <select name="idioma" id="idioma" onchange="selected_Idioma()">
                 <option value="pt"> Portugues</option>
                 <option value="en">English</option>
             </select>
         </div> 
         </div>
 
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <!-- Banner Image -->
                        <div class="text-center mb-4"> 
                            <img src="/static/C_PASTORES/flayerPt.jpg" class="img-fluid rounded"  alt="Conferência Banner">
                        </div>

                        <!-- Form Header -->
                        <div class="text-center mb-4">
                            <h2 class="h3 text-primary">Inscrição para Conferência</h2>
                            <p class="text-muted">22 & 23 de Novembro</p>
                        </div>

                        <!-- Registration Form -->
                        <form action="/submit_inscricao/pt" method="POST">
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome Completo</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>

                            <div class="form-group">
                                <label for="titulo">Título (ex.: Pastor, Reverendo, etc.):</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>

                            <div class="mb-3">
                                <label for="telefone" class="form-label">Telefone</label>
                                <input type="tel" class="form-control" id="telefone" name="telefone" required>
                            </div>

                            <div class="mb-3">
                                <label for="igreja" class="form-label">Igreja/Organização:</label>
                                <input type="text" class="form-control" id="igreja" name="igreja">
                            </div>

                            <div class="mb-3">
                                <label for="cargo">Cargo/Função:</label>
                                <input type="text" class="form-control" id="cargo" name="cargo" required>
                            </div>

                            <div class="mb-3">
                                <label for="acomodacao">Você precisará de assistência para acomodação? (<a class="text-primary" onclick="checkSelection('Sim')">Sim</a>/<a class="text-primary" onclick="checkSelection('Nao')">Não</a>)</label>
                               
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    Confirmar Inscrição
                                </button>
                            </div>

                        </div>
                        <div id="contactInfo" style="display: none;">
                            <h4 class="mx-4">Lista de Hoteis</h4>
                            <ul classe="list-group">
                                <li class="list-group">Resotel - 877869043</li>
                                <li class="list-group">Hotel Kapital - 870034523</li>
                                <li class="list-group">Hotel 2010 - 875648695</li>
                                <li class="list-group">Hotel Cardoso - 879685034</li>
                              
                            </ul>
                        </div>
                        </form>

                        <!-- Contact Info -->
                        <div class="mt-4 text-center">
                            <p class="text-muted small">
                                Para mais informações: <br>
                                Tel: +258 84 101 8103 <br>
                                Local: Av. da Igreja em estrada circular, nr.222, Chiango-bairro
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

<script>
    function selected_Idioma() {
    const selectElement = document.getElementById('idioma');
    const selectedIdioma = selectElement.value;
    fetch(`/idioma_inscricao/${selectedIdioma}`, {
            method: 'GET',
            
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.json();
            }
        })
        .then(data => {
            console.log('Resposta do servidor:', data);
        })
        .catch(error => {
            console.error('Erro ao enviar dados:', error);
        });
}

</script>

        
          <!--  <div class="form-group">
                <label for="restricoesAlimentares">Restrições Alimentares (se houver):</label>
                <input type="text" class="form-control" id="restricoesAlimentares" name="restricoesAlimentares">
            </div>
            <div class="form-group">
                <label for="contatoEmergencia">Nome do Contato de Emergência:</label>
                <input type="text" class="form-control" id="contatoEmergencia" name="contatoEmergencia" required>
            </div>
            <div class="form-group">
                <label for="telefoneContatoEmergencia">Número de Telefone do Contato de Emergência:</label>
                <input type="text" class="form-control" id="telefoneContatoEmergencia" name="telefoneContatoEmergencia" required>
            </div>

            <h4>3. Preferências de Sessão</h4>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="lideranca" name="sessao[]" value="Desenvolvimento de Liderança">
                <label class="form-check-label" for="lideranca">Desenvolvimento de Liderança</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="crescimentoIgreja" name="sessao[]" value="Estratégias de Crescimento da Igreja">
                <label class="form-check-label" for="crescimentoIgreja">Estratégias de Crescimento da Igreja</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="alcanceComunitario" name="sessao[]" value="Programas de Alcance Comunitário">
                <label class="form-check-label" for="alcanceComunitario">Programas de Alcance Comunitário</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ministerioJovens" name="sessao[]" value="Ministério com Jovens">
                <label class="form-check-label" for="ministerioJovens">Ministério com Jovens</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="adoracaoMusica" name="sessao[]" value="Adoração e Música">
                <label class="form-check-label" for="adoracaoMusica">Adoração e Música</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="aconselhamentoPastoral" name="sessao[]" value="Aconselhamento e Cuidado Pastoral">
                <label class="form-check-label" for="aconselhamentoPastoral">Aconselhamento e Cuidado Pastoral</label>
            </div>
            <div class="form-group">
                <label for="outroSessao">Outro (especifique):</label>
                <input type="text" class="form-control" id="outroSessao" name="outroSessao">
            </div>

            <h4>4. Oficinas e Atividades</h4>
            <div class="form-group">
                <label for="jantarNetworking">Você participará do jantar de networking? (Sim/Não):</label>
                <input type="text" class="form-control" id="jantarNetworking" name="jantarNetworking" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="resolucaoConflitos" name="oficina[]" value="Resolução de Conflitos nas Igrejas">
                <label class="form-check-label" for="resolucaoConflitos">Resolução de Conflitos nas Igrejas</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ministerioDigital" name="oficina[]" value="Ministério Digital e Mídias Sociais">
                <label class="form-check-label" for="ministerioDigital">Ministério Digital e Mídias Sociais</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="administracaoFinanceira" name="oficina[]" value="Administração Financeira para Igrejas">
                <label class="form-check-label" for="administracaoFinanceira">Administração Financeira para Igrejas</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="gestaoVoluntarios" name="oficina[]" value="Gestão de Voluntários">
                <label class="form-check-label" for="gestaoVoluntarios">Gestão de Voluntários</label>
            </div>
            <div class="form-group">
                <label for="outraOficina">Outro (especifique):</label>
                <input type="text" class="form-control" id="outraOficina" name="outraOficina">
            </div>

            <h4>5. Solicitações Especiais</h4>
            <div class="form-group">
                <label for="solicitacoesEspeciais">Você tem alguma necessidade ou solicitação especial?</label>
                <textarea class="form-control" id="solicitacoesEspeciais" name="solicitacoesEspeciais"></textarea>
            </div>

          
            <h4>Comentários Adicionais</h4>
            <div class="form-group">
                <textarea class="form-control" id="comentariosAdicionais" name="comentariosAdicionais"></textarea>
            </div>-->

         

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[name="metodoPagamento"]').on('change', function(){
                if($('#cartaoCredito').is(':checked') || $('#cartaoDebito').is(':checked')){
                    $('#detalhesCartao').show();
                } else {
                    $('#detalhesCartao').hide();
                }
            });
        });

        function checkSelection(select) {
            var contactInfo = document.getElementById('contactInfo');
            if (select === 'Sim') {
                contactInfo.style.display = 'block';
            } else {
                contactInfo.style.display = 'none';
            }
        }
    </script>
</body>
</html>
