{% extends 'layout.html'%}


{% block body%}
  <h1>Invoices</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Estado</th>
      
      
      
    </tr>
    {% for requisicoe in dados %}
      <tr>
        <td>{{requisicoe[0]}}</td> 
        <td>{{requisicoe[1]}}</td>
        <td>{{requisicoe[2]}}</td>
        <td>{{requisicoe[3]}}</td>
        <td>{{requisicoe[4]}}</td>
        
        
        
      </tr>
    {% endfor %}
  </table>

  <a class="btn btn-success" href="/addinvoices">Add Invoice</a>

{% endblock %}
