{% extends 'layout.html'%}


{% block body%}
    

    <form action="/contacts_by_collaborator" method="POST">
        <div>
            <label for="start_date">Inicio:</label>
            <input type="date" id="start_date" name="start_date">
            <label for="end_date">Fim:</label>
            <input type="date" id="end_date" name="end_date">
            <button type="submit">Aplicar Filtro</button>
        </div>
    </form>
    <hr>
    <h4>Dados de {{ start_date }} a {{ end_date }}</h4>
    <canvas id="uniqueContactsChart" width="800" height="400"></canvas>

    <script>
        // Extract data from Python variable 'data'
        const labels = [];
        const counts = [];
        {% for entry in data %}
            labels.push('{{ entry.colaborador }}');
            counts.push({{ entry.num_unique_contacts }});
        {% endfor %}

        // Create chart
        const ctx = document.getElementById('uniqueContactsChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Numero de Contactos',
                    data: counts,
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <hr>

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Contacto</th>
        <th>Email</th>
        <th>Vendedor</th>      
        <th>Data</th>              
      </tr>
      {% for cliente in rows2 %}
        <tr>
          <td>{{cliente[0]}}</td> 
          <td>{{cliente[1]}}</td> 
          <td>{{cliente[2]}}</td>
          <td>{{cliente[3]}}</td>          
          <td>{{cliente[4]}}</td>          
        </tr>
      {% endfor %}
    </table>
{% endblock %}
