{% extends 'layout.html' %}

{% block body %}
    <div class="container mt-5">
        <h2>Adicionar Línguas</h2>
        <form action="/adicionar_lingua" method="POST">
            <div class="form-group">
                <label for="lingua">Selecione a Língua</label>
                <select class="form-control" id="lingua" name="lingua" required>
                    <option value="">Selecione uma língua</option>
               {% for lingua in linguas %}
                
                    <option value="{{lingua}}">{{lingua}}</option>
                   
                 {% endfor %}
                    <!-- Adicione outras opções conforme necessário -->
                </select>
            </div>
            <div class="form-group">
                <label for="abreviatura">Abreviatura da Língua</label>
                <input type="text" class="form-control" id="abreviatura" name="abreviatura" required readonly>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>

        <label for="abreviatura">Línguas disponiveis</label>
        <ul class="list-group">
            {% for idioma in idiomas %}
            <li class="list-group-item">{{idioma[1]}}</li>
            {% endfor %}
        </ul>

    </div>

    <script>
        document.getElementById('lingua').addEventListener('change', function() {
            const abreviacoes = {
                'Portugues': 'PT',
                'Emakhuwa': 'EMA',
                'Cisena': 'CIS',
                'Xachangana': 'XIC',
                'Cinyanja': 'CIN',
                'Ciswati': 'CISW',
                'Gitonga': 'GIT',
                'Elomwe': 'ELM',
                'Chuwabo': 'CHU',
                'Shimakonde': 'SHI',
                'Cinyungwe': 'CIN',
                'Koti': 'KOT',
                'Ronga': 'RON',
                'Bitonga': 'BIT',
                'Kimwani': 'KIM',
                'Shona': 'SHO',
                // Adicione outras abreviações conforme necessário
            };
            const linguaSelecionada = this.value;
            document.getElementById('abreviatura').value = abreviacoes[linguaSelecionada] || '';
        });
    </script>
{% endblock %}
