{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    {% if user %}
      {% if session.username == "Temoteo"  or session.username == "Marta" %}
      <h2 class="mt-5">Relatório</h2>
      <ul>
      {% for relatorio in relatorios %}
         <li>
            <strong>Relatorio de {{ relatorio[1] }}</strong> | Data: {{ relatorio[6] }}   {% if relatorio[0] %}<a href="{{ url_for('gerar_pdf', id= relatorio[0] ) }}"  class="icon-link icon-link-hover " style="margin-left: 20px;" title="Detalhes">
              <i class="fas fa-file-pdf"> </i> baixar pdf  {% endif %} 
         </a>
        </li>
        {% endfor %}
      </ul>
        {% endif %}
    {% else %}
        <h4 class=" px-1">O seu relatorio foi concluido com sucesso</h4>
         <p>clique no link abaixa para baixar o pdf do relatorio</p>
          <div class="mt-3">
            {% if relatorio_id %}<a href="{{ url_for('gerar_pdf', id= relatorio_id ) }}" title="baixar"><button class="btn btn-danger">
          <i class="fas fa-file-pdf"> </i> baixar pdf </button>  {% endif %} 
     </a>
    </div>
     <hr>
      {% endif %}
    
    
    
  
  </div>
  
  {% endblock %}