 {% extends 'layout.html'%}
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block body%}

<div class="container">
    <h1 class="my-4">Desempenho Diário dos Funcionários</h1>
    
    <!-- Gráfico do Funcionário 1 -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Marta</h5>
            <canvas id="chartEmployee1"></canvas>
        </div>
    </div>

    <!-- Gráfico do Funcionário 2 -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Sara</h5>
            <canvas id="chartEmployee2"></canvas>
        </div>
    </div>

    <!-- Adicione mais gráficos conforme necessário -->
</div>

<script>
    const marta = {{ Marta | safe }};
    const sara = {{ Sara | safe }};

    const ctx1 = document.getElementById('chartEmployee1').getContext('2d');
    const chartEmployee1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: [
                    'Call', 'Meeting', ' Submission Proposal', 
                ],
            datasets: [ {
                label: 'Marta',
                data:  marta.concat([0, 0, 0]),
                backgroundColor:['#6bc352','#fcc034','rgba(54, 162, 235, 1)'],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            },
            {label: 'Sara',
                data: sara.concat([0, 0, 0]),
                backgroundColor: ['#6bc352','#fcc034','rgba(54, 162, 235, 1)'],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

   
    // Adicione mais scripts para outros gráficos conforme necessário
</script>
{% endblock %}
