{% extends 'layout.html'%}

{% block body%}

    <h1>Actividades</h1>
    <hr>

    <form method="POST" action="/add_task">
        <label for="task_title">Nova tarefa:</label>
        <input type="text" name="task_title" required title="Obrigatório">
        
        <label for="due_date">Prazo:</label>
        <input type="date" name="due_date" required>
    
        <label for="agent">Funcionário:</label>
        <select name="agent" required>
            <option value="" disabled selected>Escolha um funcionário</option>
            {% if session.username == 'Temoteo' %}
                <option value="Marta">Marta</option>
                <option value="Nelio">Nelio</option>
                <option value="Temoteo">Temoteo</option>
                <option value="Zaida">Zaida</option>
                <!-- Add more options as needed -->
            {% else %}
                <option value="Marta">Marta</option>
                <option value="Nelio">Nelio</option>
                <option value="Zaida">Zaida</option>
            {% endif %}
        </select>
    
        <button class="btn btn-success" type="submit">Adicionar Tarefa</button>
    </form>
    
    
    <h2>Tarefas:</h2>
    <ul>
        {% for task in tasks %}
        {% if session.username == "Temoteo" or session.username == task[5] or session.username == "Marta" %}
        <li> <strong>{{ task[1] }}</strong> | Prazo: {{ task[2] }} | {% if task[6] %}  Completed at: {{ task[4] }}{% endif %}
            {% if not task[7] and not task[6] %}
                <a href="/accept_task/{{ task[0] }}">Iniciar</a>
            {% endif %}
            {% if not task[6] and task[7] %}
                <a href="/complete_task/{{ task[0] }}">Terminar</a>
            {% endif %}
            {% if task[6] and task[7] %}
                (Terminado)
            {% endif %}
        </li>
        <ul>
            <li>Hora de inicio: {{ task[3] }}</li>
            <li>Responsavel: {{ task[5] }}</li>
        </ul>
        {% endif %}
        
 
        {% endfor %}
    </ul>
   
{% endblock %}
