{% extends 'layout.html' %}

{% block body %}
  <h1>Testar SMS</h1>
  
  <hr>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.site, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.contacto, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.sms, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-success" value="Agendar Envio"></p>
  </form>
  <p><button type="button" class="btn btn-primary" onclick=" smsGrupo()"  value="Agendar Envio em Grupo" >Agendar Envio em Grupo</button></p>
    
  <div class="modal fade" id="ModalSmsGroup" tabindex="-1" aria-labelledby="ModalSmsGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSmsGroupLabel">Selecionar Grupo</h5>
                <button type="button" class="close" onclick="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body" id="modalBodySms">
                  
              </div>
          </div>
      </div>
  </div>

{% endblock %}
