{% extends 'layout.html' %}

{% block body %}
    <h2>Call Status</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Campanha_id</th>
                <th>Call SID</th>
                <th>Status</th>
                <th>Phone Number</th>
                
                <th>Duration (minutes)</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody id="call-status-table">
            <tr>
                <td>{{campaign}}</td>
                <td></td>
                <td></td>
                <td>{{phone}}</td>
                
                <td></td>
                <td>{{data}}</td>
            </tr>
            <!-- Table rows will be dynamically populated here -->
        </tbody>
    </table>
    <script>
        // JavaScript to fetch call statuses and populate the table dynamically
        function fetchCallStatuses() {
            fetch('/get_call_status')
                .then(response => response.json())
                .then(callStatuses => {
                    const tableBody = document.getElementById('call-status-table');
                    tableBody.innerHTML = '';
                    callStatuses.forEach(call => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${call.sid}</td>
                            <td>${call.status}</td>
                            <td>{{phone}}</td>
                            
                            <td>${call.duration_minutes}</td>
                            <td>{{data}}</td>
                        `;
                        tableBody.appendChild(row);
                    });
                });
        }

        // Fetch call statuses every 3 seconds
       // setInterval(fetchCallStatuses, 3000);

        // Initial fetch
       // fetchCallStatuses();
    </script>

{% endblock %}
