{% extends 'layout.html' %}

{% block body %}
  <h1>Testar SMS</h1>
  
  <hr>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.site, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.contacto, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.sms, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-success" value="Agendar Envio"></p>
  </form>
  <p><button type="button" class="btn btn-success" ></button></p>
    
  <div class="modal" id="ModalSmsGroup" tabindex="-1" role="dialog" aria-labelledby="ModalGroupModallabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="ModalGroupModallabel">Selecionar Grupo</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body" id="modalBodySms">
                  
              </div>
          </div>
      </div>
  </div>

{% endblock %}
