{% extends 'layout.html' %}

{% block body %}
<style>
       .scrolling-wrapper {
            overflow-x: scroll;
            display: flex;
            flex-wrap: nowrap;
        }
        .video-card {
            flex: 0 0 auto;
            margin-right: 10px;
        }
       .link{
        text-decoration:none
       }

.label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
}

input:focus + .label,
textarea:focus + .label {
    top: 0;
    left: 10px;
    color: #007bff;
    font-size: 12px;
}


</style>

    <div class="mx-4 mt-4">
    <form action="/buscar_testemunho" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="nome" placeholder="insira o nome">
          <button type="submit" id="but" class="btn btn-secondary ml-2">Pesquisar</button>
        </div>
      </form>   
    </div>
    <h2 class="mt-5">Vídeos Recentes</h2>
    <div>
    <h4 class="mt-4">Testemunhos </h4>
    <div class="scrolling-wrapper">
            {% for testemunho in testemunhos %}
            {% if testemunho[5] == 'testemunho' %}
                <div class="video-card">
                    <video width="220" height="140" >
                        <source src="{{ testemunho[3] }}" type="video/mp4">
                        Seu navegador não suporta a reprodução de vídeos.
                    </video>
                    <form action="/buscar_testemunho" method="post">
                        <div class="input-group">
                          <input type="hidden"  name="nome" placeholder="insira o nome" value="{{ testemunho[1] }}">
                          <button type="submit" id="but" class="btn btn-default ml-2">{{ testemunho[1] }}</button>
                        </div>
                      </form> 
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <h4 class="mt-2">Profecias </h4>
    <div class="scrolling-wrapper">
            {% for testemunho in testemunhos %}
            {% if testemunho[5] == 'Profecias' %}
                <div class="video-card">
                    <video width="320" height="240" >
                        <source src="{{ testemunho[3] }}" type="video/mp4">
                        Seu navegador não suporta a reprodução de vídeos.
                    </video>
                  <a href="{{ url_for('detalhes', nome=testemunho[1]) }}" class="link text-dark text-start mt-0"><p>{{ testemunho[1] }}</p></a> 
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="pb-5 mx-2">
        <h2 class="mt-5 ">Lista de Testemunhos</h2>
        {% if erro %}
          <div class="alert-danger my-2">{{ erro }}</div>
        {% endif %}
        
    <table class="table table-striped">
        <thead style="background-color: rgb(228, 164, 87); ">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Vídeo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody style="background-color: rgb(252, 251, 251);">
            {% for testemunho in testemunhos %}
            <tr>
                <td>{{ testemunho[0] }}</td>
                <td>{{ testemunho[1] }}</td>
                <td> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editar{{ testemunho[0] }}">
                     Descricao do Video
                  </button>
                  <!-- Modal para editar ticket -->
                  <div class="modal fade" id="editar{{ testemunho[0] }}" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel{{  testemunho[0] }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="editarModalLabel{{ testemunho[0] }}">Descricao do video</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                              </div> 
                              <form method="post" action="{{ url_for('atualizar', id=testemunho[0]) }}">
                              <div class="modal-body">
                                <textarea type="text" id="descricao" name="descricao" class="form-control" rows="5" aria-valuemax="">{{ testemunho[2] }}</textarea>
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary" id="salvar">Salvar</button>
                                </div>
                                </form>
                              </div>
                          </div>
                      </div>
                </td>
                <td><a href="{{ url_for('Link_video', testemunho_id=testemunho[0]) }}" target="_blank">link do video</a></td>
                <td>{{ testemunho[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('formulario_videos') }}" class="btn-info ml-2 p-2 " title="formulario">
        <i class="fas fa-plus-square"></i>
      </a>
      <br><br>
</div>

{% endblock %}

